/*侧边导航List*/
.anchor_Top {
    vertical-align: middle;
    right: 40px;
    bottom: 100px;
    position: fixed;
    z-index: 10;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

    .anchor_Top:hover {
        -moz-transform: scale(1.3,1.3);
        -webkit-transform: scale(1.3,1.3);
        -o-transform: scale(1.3,1.3);
        -ms-transform: scale(1.3,1.3);
        transform: scale(1.3,1.3);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

.anchor_titleTop {
    width: 60px;
    height: 60px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-color: white;
}

    .anchor_titleTop div {
        padding-top: 18px;
        padding-right: 6px;
        width: 65px;
        text-align: center;
        font-size: 20px;
    }

/*左边导航栏*/
.mycenter {
}

    .mycenter .mycenter_left {
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: -4px 6px 12px rgba(0,0,0,0.175);
        -webkit-box-shadow: -4px 6px 12px rgba(0,0,0,0.175);
    }

.mycenter_right {
    box-shadow: 4px 6px 12px rgba(0,0,0,0.175);
    -webkit-box-shadow: 4px 6px 12px rgba(0,0,0,0.175);
}

.mycenter_tabs {
    margin: 15px 10px;
    padding: 0 5px;
    width: 100%;
    /*border-bottom:3px solid #eee;*/
    border-right: 2px solid #e67e22;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.175);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.175);
    -moz-transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

    .mycenter_tabs:hover {
        border-left: 1px solid #eee;
        -moz-transform: scale(1.2,1.2) rotate(5deg);
        -webkit-transform: scale(1.2,1.2) rotate(5deg);
        -o-transform: scale(1.2,1.2) rotate(5deg);
        -ms-transform: scale(1.2,1.2) rotate(5deg);
        transform: scale(1.2,1.2) rotate(5deg);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        z-index: 10;
    }

.mycenter_tabs_click {
    background-color: #ffd800;
    border-left: 1px solid #eee;
    -moz-transform: scale(1.2,1.2) rotate(5deg);
    -webkit-transform: scale(1.2,1.2) rotate(5deg);
    -o-transform: scale(1.2,1.2) rotate(5deg);
    -ms-transform: scale(1.2,1.2) rotate(5deg);
    transform: scale(1.2,1.2) rotate(5deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 10;
}

.mycenter_tab_china {
    font-size: 15px;
    font-weight: 700;
    color: #777;
}

    .mycenter_tab_china p {
        padding: 0;
        margin: 0;
    }

        .mycenter_tab_china p span {
            font-size: 17px;
        }

.mycenter_tab_english p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #a3a3a3;
}

.mycenter_partition {
    margin-left: 15px;
    border: 5px solid #eee;
}

/*用户基本信息显示*/
.user_ld {
    margin: 7px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.175);
    -webkit-box-shadow: 0 6px 6px rgba(0,0,0,0.175);
}

.user_ld_img {
    width: 115px;
}

.user_l {
    width: 100%;
}

.user_l_intro {
    padding: 10px 10px 0 10px;
    width: 80%;
}

.user_li_ntl div p {
    margin-bottom: 5px;
}

.user_liawaf {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-right: 1px solid #eee;
}

    .user_liawaf div p {
        margin-bottom: 3px;
        text-shadow: -2px 5px 4px rgba(0,0,0,0.175);
    }

.user_liawaf_end {
    border-right: none;
}

.user_liawaf_num p {
    font-size: 14px;
    font-weight: 200;
    color: #666;
}

.user_liawaf_title p {
    font-size: 12px;
    font-weight: 700;
    color: #7a7a7a;
}

.user_li_about {
    margin-top: 2px;
}

.user_li_name p {
    font-size: 16px;
    color: #5f5f5f;
    font-weight: 700;
    text-shadow: -2px 5px 4px rgba(0,0,0,0.175);
}

.user_li_title p {
    color: #000;
    font-size: 14px;
    text-shadow: -2px 4px 4px rgba(0,0,0,0.175);
}

.user_li_hi {
    max-width: 580px;
    margin-left: 10px;
    margin-right: 10px;
    width: 60%;
}

    .user_li_hi p {
        font-size: 13px;
        color: #696969;
        text-shadow: -2px 3px 3px rgba(0,0,0,0.175);
        /*letter-spacing:1px;*/
    }

.user_li_level p {
    color: #d55b00;
    font-size: 12px;
    font-weight: 600;
    text-shadow: -2px 5px 4px rgba(0,0,0,0.175);
}

.user_li_site p {
    color: #666;
    font-size: 12px;
    font-weight: 600;
    text-shadow: -2px 5px 4px rgba(0,0,0,0.175);
}

.user_lia_bottom {
    margin-top: 5px;
}

    .user_lia_bottom .btn {
        box-shadow: -2px 4px 6px rgba(0,0,0,0.175);
        -webkit-box-shadow: -2px 4px 6px rgba(0,0,0,0.175);
    }

    .user_lia_bottom .btn-default {
        color: #666;
    }

.user_parent {
    margin-bottom: 10px;
}

.content_user {
    box-shadow: -4px 6px 12px rgba(0,0,0,0.175);
    -webkit-box-shadow: -4px 6px 12px rgba(0,0,0,0.175);
}

/*右侧栏*/
.mycenter_right_content {
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 1000px;
}
