<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>首页</title>
    <meta charset="utf-8" />
    <link href="../Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="../Content/input-style.css" rel="stylesheet" />
    <link href="../Content/fontAwesome/font-awesome.min.css" rel="stylesheet" />
    <!--<link href="../Content/bootstrap/bootstrap-theme.css" rel="stylesheet" />-->
    <script src="../Scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="../Scripts/bootstrap/bootstrap-tooltip.js"></script>
    <script src="../Scripts/bootstrap/bootstrap-popover.js"></script>
    <script src="../Scripts/bootstrap/bootstrap-affix.js"></script>
    <!--helper-->
    <script src="../Scripts/Helper.js"></script>
    <!--Masonry 用于创建瀑布流布局-->
    <script src="../Scripts/masonry.pkgd.js"></script>
    <script src="../Scripts/imagesloaded.pkgd.js"></script>
    <!--lightbox  用于图片扩大展示-->
    <script src="../Scripts/lightbox.min.js"></script>
    <link href="../Content/lightbox.css" rel="stylesheet" />
    <!--用于图片灰度显示-->
    <script src="../Scripts/philter/jquery.philter.js"></script>

    <link href="../Content/app/index.css" rel="stylesheet" />
    <link href="../Content/imgbox.css" rel="stylesheet" />
    <script type="text/template" id="Imageformat">
        <div class="thumbnail img_thumbnail">
            <div class="imgs" data-philter-grayscale="100 0">
                <input type="hidden" value="test{0}.jpg">
                <a href="../Images/DM/test{0}.jpg" data-lightbox="lightbox_" title="图集第{0}张&nbsp;&nbsp;(by NECC)"><img src="../Images/DM/test{0}.jpg"></a>
            </div>
            <div class="caption">
                <div class="title">图集第{0}张</div>
                <div class="content">
                    大家一定有过与众多逗比相处的日子，逗比嘛，逗得不行，逗得不行，逗得不行，逗得不行，逗得不行，逗得不行，end...
                </div>
                <div class="author">
                    by <a target="_blank" href="http://www.notlives.cc/Image/Wallpaper/{0}.jpg">NECC</a>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="Jottingformat">
        <div class="jotting_thumbnail thumbnail">
            <div class="jotting_portrait" data-philter-grayscale="70 0">
                <a href="javascript:void(0);">
                    <img width="130" class="jotting_img img-circle img-thumbnail" src="../Images/user-ceshi.jpg" />
                </a>
            </div>
            <div class="jotting_caption">
                <div class="jotting_title">张三张三张三{0}</div>
                <div class="jotting_content">
                    张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三哈哈哈哈测试啊
                </div>
                <div class="jotting_author">
                    —— by <a target="_blank" href="javascript:void(0);">NECC</a>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="loggedOnUserTemplate">
        <table class="table table-default" style="width:248px;">
            <tr>
                <td colspan="3">
                    <div class="pull-left">
                        <a href="#"><img class="img-circle user-img" src="../Images/user-ceshi.jpg" /></a>
                    </div>
                    <div class="pull-left user-name">
                        <a href="#" style="color:black;">&nbsp;日狗啊日狗，日个狗！</a>
                    </div>
                    <div class="pull-left user-check-p">
                        <button class="btn btn-default user-check" id="user-check">签到</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="pull-left user-dgf">
                        <a href="#" class="user-dgf-link">
                            <div class="user-dgf-link-1"><span>12314</span></div>
                            <div class="user-dgf-link-2"><span>动态</span></div>
                        </a>
                    </div>
                    <div class="pull-left user-dgf">
                        <a href="#" class="user-dgf-link">
                            <div class="user-dgf-link-1"><span>2423</span></div>
                            <div class="user-dgf-link-2"><span>关注</span></div>
                        </a>
                    </div>
                    <div class="pull-left user-dgf-1">
                        <a href="#" class="user-dgf-link">
                            <div class="user-dgf-link-1"><span>236234</span></div>
                            <div class="user-dgf-link-2"><span>粉丝</span></div>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="user-dxg"><i class="fa fa-star-o"></i> 等级</td>
                <td><a href="#">Lv.4<i class="fa fa-chevron-right pull-right  user-right"></i></a></td>
            </tr>
            <tr>
                <td colspan="2" class="user-dxg"><i class="fa fa-bell-o"></i> 消息</td>
                <td><a href="#">12<i class="fa fa-chevron-right pull-right user-right"></i></a></td>
            </tr>
            <tr>
                <td colspan="3" class="user-dxg"><i class="fa fa-cog"></i> <a href="http://localhost:10841/Client/APP/MyCenter.html" class="user-set">个人信息设置<i class="fa fa-chevron-right pull-right  user-right"></i></a></td>
            </tr>
            <tr>
                <td colspan="3" class="center-block"><button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i> 退出</button></td>
            </tr>
        </table>
    </script>
    <script type="text/template" id="signInTemplate">
        <div class="user-login-content">
            <div class="user-login-prompt">
                <div class="pull-left">
                    <a href="#" title="当前未登录"><img class="img-circle user-img" src="../Images/user-ceshi.jpg" /></a>
                </div>
                <div class="pull-left user-login-prompt-2">
                    <span>你的用户还未登录？</span>
                </div>
            </div>
            <div class="user-login-dp">
                <div><button class="btn btn-primary btn-sm user-login-d">登录<i class="fa fa-chevron-right pull-right"></i></button></div>
                <div><button class="btn btn-info btn-sm user-login-d">注册<i class="fa fa-chevron-right pull-right"></i></button></div>
            </div>
        </div>
    </script>
</head>

<body>
    <div class="all" id="all">
        <div class="col-md-12">
            <div class="supplement">
                <!--侧边导航-->
                <div class="anchor_nav affix" data-spy="affix">
                    <a class="anchor_link" href="#cont-top">
                        <div class="anchor_title">
                            <i class="fa fa-thumbs-up"></i>
                            <div>热门</div>
                        </div>
                    </a>
                    <a class="anchor_link" href="#cont-new">
                        <div class="anchor_title">
                            <i class="fa fa-leaf"></i>
                            <div>最新</div>
                        </div>
                    </a>
                    <a class="anchor_link" href="#cont-recommend">
                        <div class="anchor_title">
                            <i class="fa fa-star"></i>
                            <div>推荐</div>
                        </div>
                    </a>
                    <a class="anchor_link" href="#all">
                        <div class="anchor_title" title="回顶部">
                            <div class="fa fa-rocket anchor_goHome"></div>
                        </div>
                    </a>
                </div>
                <!--模态框-->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user"></i> Sign In&Sign Up</h4>
                            </div>
                            <!--Content-->
                            <div class="modal-body login-modelbody">
                                <div class="login-content">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#signIn" data-target="#signIn" data-toggle="tab">Sign In</a>
                                        </li>
                                        <li>
                                            <a href="#signUp" data-target="#signUp" data-toggle="tab">Sign Up</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content login-content-child">
                                        <div class="tab-pane active" id="signIn">
                                            <div class="pull-left" style="width:30%;">
                                                <i class="text-info">扫码登录</i>
                                                <img src="../Images/erweima.png" class="img-thumbnail" />
                                                <div style="margin-top:10px;">
                                                    <div class="pull-left text-center" style="width:50%">
                                                        <a href="javascript:void(0);"><img style="width:40px;" class="img-circle" src="../Images/qq.jpg"
                                                                title="QQ登录" /></a>
                                                    </div>
                                                    <div class="pull-left text-center" style="width:50%">
                                                        <a href="javascript:void(0);"><img style="width:40px;" class="img-circle" src="../Images/weibo.jpg"
                                                                title="微博登录" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 input-effect">
                                                <input class="effect-16 input-effect-text" type="email" placeholder="">
                                                <label class="input-effect-text">Email</label>
                                                <span class="focus-border"></span>
                                            </div>
                                            <div class="col-3 input-effect" style="margin-bottom:0px;margin-top:10px;">
                                                <input class="effect-16 input-effect-text" type="password" placeholder="">
                                                <label class="input-effect-text">Pass word</label>
                                                <span class="focus-border"></span>
                                            </div>
                                            <div class="col-3 input-effect" style="margin-top:0px;">
                                                <!--<input class="effect-16 input-effect-text" type="text" placeholder="">
                                                <label class="input-effect-text">Validate code</label>
                                                <span class="focus-border"></span>-->
                                                <div style="width:100%;height:75px;">
                                                    <span style="font-size:12px;color:#ccc;">请点击下面倒立的字</span>
                                                    <div style="width:100%;height:60px;">
                                                        <div class="yz-Content" id="yz-Content1">
                                                            <img id="img" height="60" src="../Images/CeShiYanZheng.gif" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-right" style="width:60%;margin-right:17px;">
                                                <div><button class="btn btn-success" style="width:100%;">Sign In&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button></div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="signUp">
                                            <div class="pull-right" style="width:33%;">
                                                <img src="../Images/user-ceshi.jpg" class="img-circle img-thumbnail" />
                                            </div>
                                            <div class="col-3 input-effect pull-left">
                                                <input class="effect-16 input-effect-text" type="email" placeholder="">
                                                <label class="input-effect-text">Email</label>
                                                <span class="focus-border"></span>
                                            </div>
                                            <div class="col-3 input-effect pull-left" style="margin-bottom:0px;margin-top:10px;">
                                                <input class="effect-16 input-effect-text" type="text" placeholder="">
                                                <label class="input-effect-text">Nick name</label>
                                                <span class="focus-border"></span>
                                            </div>
                                            <div class="col-3 input-effect pull-left" style="margin-top:0px;">
                                                <!--<input class="effect-17 input-sm" type="text" placeholder="">
                                                <label class="input-effect-text">Validate code</label>
                                                <span class="focus-border" style="width:150px;"></span>
                                                <img class="img-rounded" style="margin-bottom:3px;margin-left:2px;" width="150" height="30" src="../Images/user-ceshi.jpg" />-->
                                                <div style="width:100%;height:75px;">
                                                    <span style="font-size:12px;color:#ccc;">请点击下面倒立的字</span>
                                                    <div style="width:100%;height:60px;">
                                                        <div class="yz-Content" id="yz-Content2">
                                                            <img id="img2" height="60" src="../Images/CeShiYanZheng.gif" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-left" style="width:60%;">
                                                <button class="btn btn-success" style="width:100%;margin-left:13px;">Sign In&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <!--<button type="button" class="btn btn-primary">提交更改</button>-->
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal -->
                </div>
                <!--背景动画-->
                <div class="anim_content">
                </div>
            </div>
            <div class="header">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                                aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href=".">
                                    <i class="fa fa-home"></i> Home
                                </a>
                        </div>
                        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="List.html">
                                        <i class="fa fa-picture-o"></i> Scrawl<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li><a href="List.html"><i class="fa fa-pencil"></i> Jottings</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-th-large"></span> Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#" data-target="#myModal" data-toggle="modal"><span class="fa fa-user"></span> Sign in | Sign up</a>
                                        </li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="navbar-btn navbar-right" role="button" id="userBtn" data-target="#myModal" data-toggle="modal">
                                <a href="javascript:void(0);" id="userId" class="btn btn-default fa fa-user-circle popover-destroy" data-toggle="popover">
                                </a>
                            </div>
                            <!--<div class="navbar-btn navbar-right" role="button" id="userBtn" data-target="#myModal" data-toggle="modal">
                                <div>
                                    <img width="35" class="img-circle img-responsive popover-destroy" src="../Images/user-ceshi.jpg" id="userId" data-toggle="popover" />
                                </div>
                            </div>-->
                            <form class="navbar-form navbar-right" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-info"><span class="fa fa-search"></span> Submit</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="content">
                <div>
                    <!--class="well"-->
                    <div class="cont cont-top" id="cont-top">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="nav">
                                    <div class="pull-left">TOP</div>
                                    <div class="pull-right">
                                        <a href="#" class="btn-link">more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body image-parent">
                                <div id="jotting_Top" class="jotting_parent">
                                </div>
                                <div id="scrawl_Top" class="container-fluid moduleParent">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cont cont-new" id="cont-new">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="nav">
                                    <div class="pull-left">NEW</div>
                                    <div class="pull-right">
                                        <a href="#" class="btn-link">more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body image-parent">
                                <!--子模块-->
                                <div id="jotting_New" class="jotting_parent">
                                </div>
                                <div id="scrawl_New" class="container-fluid moduleParent">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cont cont-recommend" id="cont-recommend">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="nav">
                                    <div class="pull-left">RECOMMEND</div>
                                    <div class="pull-right">
                                        <a href="#" class="btn-link">more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body image-parent">
                                <div id="jotting_RE" class="jotting_parent">
                                </div>
                                <div id="scrawl_RE" class="container-fluid moduleParent">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="panel">
                    <div class="panel-body text-center text">
                        <span style="font-size:12px;color:#666;">
                            个人网站演示 | 电话：66666666666 | QQ:6666666666<br />
                            什么号啊，什么那啥这啥地址啊啥的
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../Scripts/app/index.js"></script>
</body>

</html>